<!DOCTYPE html> <!--Atividade-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DH NEWS </h1> 
    <H6>Postado em 08/07/2021 </H6>

    
    <p> 
        It is a long established fact that a reader will be distracted by the readable 
        content of a page when looking at its layout. 
        The point of using Lorem Ipsum is that it has a more-or-less normal
         distribution of letters, as opposed to using 'Content here, content here.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, facere deserunt!
         Illo officia quae sed temporibus praesentium est suscipit!
        Quas inventore dolore accusantium fuga debitis vel iusto qui autem laudantium.</p>
         <img src="/img/destaque.jpg" alt=""/>
         <h3>Pariatur architcto doloremque debitis distinctio</h3>
         <p> 
            It is a long established fact that a reader will be distracted by the readable 
            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using.
            <ol start="1">
                <li>
                    Lorem ipsum dolor sit
                </li>
                <li>
                    Lorem ipsum dolor sit
                </li>
                <li>
                    Lorem ipsum dolor sit
                </li>
            
            </ol>
          
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Mollitia veritatis magni omnis,consectetur nam harum </p>
            <h3>Numquam totam sit aperiam, pariatur architecto doloremque debitis distinctio</h3>

            <p></p>The point of using Lorem Ipsum is that it has a more-or-less normal
             distribution of letters, as opposed to using 'Content here, content here.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Mollitia veritatis magni omnis,consectetur nam harum. 
            Est excepturi commodi fuga ipsam similique magni repudiandae,
            in laboriosam esse, assumenda nulla ex ratione.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing. <b>Dicta commodi nisi libero, 
            sed</b> sunt eveniet ea, officia dolore eum voluptatesDicta commodi nisi libero, 
            sed sunt eveniet ea, officia dolore eum voluptates 
            voluptatibus.Mollitia dolore delectus eveniet,ex quisquam odio nostrum dolorem. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit pariatur sequi, voluptas ex nesciunt voluptate temporibus 
            excepturi vel inventore optio neque totam odio? 
            agnam tempora quaerat aliquam perferendis consequuntur. Saepe!</p>
            
                <img src="../public/img/facebook.svg" alt=""> 
                <img src="../public/img/instagram.svg" alt="">
                <img src="../public/img/linkedin.svg" alt="">
                <img src="../public/img/youtube.svg" alt="">
            

    
</body>
</html>