<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css"/>
    <link href="https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,100;0,400;,700;1,400;1,700&display=swap
    "rel="stylesheet">
    <title>Agencia DevHouse</title>
</head>
<body>
    <header><!--tag para menus-->
        <img src="/img/logo.png" alt="Agencia - devHouse" title="Agencia - devHouse" id="logo"/>
        <!--tag<img src="/img/menu-icon.png alt="menu-icon" title="Menu" id="menu mobile"/>-->
        <nav class="menu"><!--Indica navegação-->
            <a href="">Home</a>
            <a href="">Produtos</a>
            <a href="">Depoimentos</a>
        </nav>
        <div class="atendimento">
            <a href="tel:+00 123 456 789">(11)1235 4567</a>
            <button>Atendimento</button>
            
            </div>
    </header>
    <section class="banner"><!--Nova seção-->
        <h1>Sua empresa sempre no topo</h1>
        <p>Podemos alavancar seu negocio</p>
        <div>
            <button class="button-padrao">Conheça agora</button>
            <button class="button-padrao">Entre em Contato</button>
        </div>
        <p>
            <img src="/img/banner.png" alt="Banner 1" title="banner-1"/> 
        </p>
        <h1>Whatever work do,we're able to help</h1>
    </section>
    <section class="text">
        
        <div>
            <img src="/img/banner-2.png" alt="Banner 2" title="banner-2"/>
        </div> 
        <ul>
            <li><p> <b> Design and Assets</b></p>
                Make your brand stand out with pixel-perfect design crafted to perfection.
            </p></li>
           <li> <p> <b> Easy content</b></p>
            Import your demos or build pages visually. Bonus: All images and illustrations included!
            </p></li>
            <li><p> <b> Fast and Reliable</b></p>
            No heavy-weight plugins. No builders. No unneccesary file loading. Pure WordPress.
            </p></li>
        </ul>
            
       
    </section>
    </body>
</html>
